-# Assign to window.USER variable
-# Clone that variable into JS application
-# Delete $('#USER_FROM_SERVER')
-# Delete window.USER

-# TODO - this current_user.to_json must be escaped so it's valid JSON
-# OR NOT ESCAPE IT.. and use _.excape to parse it out?
-# %script{ id: 'USER_FROM_SERVER' }
-#   window.USER = "#{@current_user.to_json}";

